<h1>Add Album</h1>
<br>
<form action="/albums_url" method="post">

  <label for="album_title">Album Title:</label>
  <br>
  <input type="text" name="album[title]">
  <br>
  <!-- <label for="studio_or_live">Studio or Live</label>
  <input type="boolean" name="album[studio]" value=""> -->


</form>
