<h1>Add New Band</h1>

<form action="/bands" method="post">
  <label for="band_name">Band Name:</label>
    <br>
    <input type="text" name="band[name]">
    <br>
    <input type="submit" value="Add Band">
</form>
